.directory {
  .filter-name {
    float: none;
  }

  .filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > span {
      margin-bottom: 5px;
    }
  }

  .group-filter:not(.active) .select-kit-header {
    color: $primary-high;
  }
}
